nav a {
    display: block;
    padding: 10px;
    color: #1A1FF4;
    font-size: 14px;
    text-decoration: none;
    background: #fafafa;
    text-align: right;

    &:hover {
        color: darken(#1A1FF4, 30%);
        text-decoration: none;
    }
}

.dropdown {
    top: 92px;
    z-index: 999;
    list-style: none;
    width: 1200px;
    background-color: #1A1FF4;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    color: #fff;
    display: none;
    position: fixed;
    transform: translateY(-2em);
    transition: all 800ms ease;
    height: 430px;

}

.dropdown li {
    list-style: none;
    position: relative;
    border-bottom: 1px solid #fff;
    width: 30%;
    padding: 10px;
}

.dropdown li a {
    color: #ffffff;
    text-decoration: none;
    display: block;

    &:hover {
        color: #434343;
    }

    > i {
        margin-top: 5px;
    }
}

.search-menu {
    color: #1A1FF4;
    height: auto;
    padding: 3px;
    border: none;
    text-indent: 10px;

    &::placeholder {
        color: #1A1FF4;
    }
}

#filtersubmit {
    position: relative;
    z-index: 1;
    top: -33px;
    color: #1A1FF4;
    cursor: pointer;
    width: 0;
    font-size: 16px;
    padding-right:25px;
}

.hide-button {
    background: transparent;
    border: none !important;

    &:focus {
        outline: 0;
    }
}

.dropdown li ul {
    position: absolute;
    left: 100%;
    margin: 0;
    list-style: none;
    display: none;
    line-height: normal;
    color: #ffffff;
    text-decoration: none;
    padding-left: 40px;
    width: 100%;
    top: 0;


    &:hover {
        color: #434343;
    }

    > i {
        margin-top: 5px;
    }

    > li {
        width: 100%;
    }
}

.dropdown li ul li a {
    text-align: left;
    color: #ffffff;
    display: block;
    white-space: nowrap;
    position: relative;
    z-index: 999;
    padding: 3px;
}

.dropdown li ul li ul {
    left: 100%;
    top: 0;
}

ul li:hover > a {
    //background-color: #0abf53;
    //scolor: #ffffff !important;
}

ul li:hover > ul {
    display: block;
}

.dropdown-mobile {
    top: 89px;
    z-index: 999;
    list-style: none;
    width: 100%;
    background-color: #1A1FF4;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    color: #fff;
    display: none;
    position: fixed;
    transform: translateY(-2em);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    height: auto;
    overflow-y: scroll;
    height: calc(100vh - 70px);

    li > form > .search-menu {
        color: #1A1FF4;
        height: auto;
        padding: 10px;
        border: none;
        text-indent: 10px;

        &::placeholder {
            color: #1A1FF4;
        }
    }

    li > form > button > #filtersubmit {
        position: relative;
        z-index: 1;
        top: -32px;
        color: #1A1FF4;
        cursor: pointer;
        width: 0;
        font-size: 16px;
        float: right;
        padding-right: 25px;
    }


    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    li > slider::-webkit-slider-thumb {
        background: #fff; /* Green background */
    }

    li > .slider::-moz-range-thumb {
        width: 17px; /* Set a specific slider handle width */
        background: #fff; /* Green background */
    }
}

.dropdown-mobile li {
    list-style: none;
    position: relative;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: 15px;



    &:last-child {
        border-bottom-color: transparent;
    }
}
.dropdown-mobile li a {
    color: #ffffff;
    text-decoration: none;
    display: block;

    &:hover {
        color: #434343;
    }

    > i {
        margin-top: 5px;
    }
}

.dropdown-mobile li ul {
    position: relative;
    margin: 0;
    list-style: none;
    display: none;
    line-height: normal;
    color: #ffffff;
    text-decoration: none;
    padding-left: 20px;
    width: 100%;
    top: 0;

    &:hover {
        color: #434343;
    }

    > i {
        margin-top: 5px;
    }

    > li {
        width: 100%;
    }
}

.dropdown-mobile li ul li a {
    text-align: left;
    color: #ffffff;
    display: block;
    white-space: nowrap;
    position: relative;
    z-index: 999;
    padding: 3px;


}

.dropdown-mobile li ul li ul {
    left: 0;
    top: 0;
}