.dark-mode {
    background-color: #152028;
    color: #dee2e6;

    h1, h2 {
        color: #dee2e6;
    }

    .bg-gray {
        background-color: #212529;
        color: #dee2e6;
    }

    .header {
        background-color: #152028;
        color: #dee2e6;
        z-index: 15;
    }

    i, button {
        color: #dee2e6;
    }

    .more-form-box, .card {
        background-color: #152028;
        color: #dee2e6;
    }

    a, .nav-item > a, .search {
        color: #dee2e6;
    }

    .navbar-toggler {
        background-color: #dee2e6;
    }

    a.detail-link {
        color: #dee2e6;
        text-decoration: none;

        &:hover {
            color: lighter(#dee2e6, 10%);
            text-decoration: none;
        }
    }

    nav ul li {
        background: #152028;
        z-index: 9;
    }

    nav a {
        color: #dee2e6;
        background: #152028;
    }

    nav a:hover {
        color: lighter(#dee2e6, 10%);
    }

    .description-box {
        background: #333;
    }

    @media all and (max-width: 768px) {
        .side-menu > li > a {
            color: #dee2e6;
        }
        nav ul li {
            background: #152028;
            z-index: 9;
        }
        nav a, {
            color: #dee2e6;
            background: #152028;
        }
        nav a:hover {
            color: lighter(#dee2e6, 10%);
        }
        .slider {
            background-color: transparent;
        }
        .slider:before, .slider:after {
            background-color: transparent;
        }
    }
}

body {
    background-color: #fafafa;
}

.content-detail {
    max-width: 1200px;
}

.content-detail-660 {
    max-width: 660px;
}

@media screen and (max-width: 660px) {
    .content-detail {
        font-size: 14px;
        padding: 0px 10px;
        max-width: 660px;
    }

    .content-detail-660 {
        max-width: 660px;
    }

    .container, .container-sm {
        max-width: 660px;
    }
}


.more-form-box {
    background-color: white;
    padding: 30px;
}

.gallery-pic {
    position: relative;
    overflow: hidden;
    height: rem-calc(120);

    &::before {
        content: "";
        width: 50%;
        height: 50%;
        display: block;
        position: absolute;
        z-index: 5;
        transition: all 500ms ease;
        opacity: 0;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        img {
            opacity: 0.4;
            width: 100%;

        }
    }

    img {
        max-width: initial;
        width: 100%;
        transition: all 500ms ease;
    }

}


#columns {
    column-width: 240px;
    column-gap: 15px;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
}

div#columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
}

div#columns figure img {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div#columns figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
}

div#columns small {
    font-size: 1rem;
    float: right;
    text-transform: uppercase;
    color: #aaa;
}

div#columns small a {
    color: #666;
    text-decoration: none;
    transition: .4s color;
}

figure(:hover)
{
    opacity: 0.4;
}

@media screen and (max-width: 750px) {
    #columns {
        column-gap: 0px;
    }
    #columns figure {
        width: 100%;
    }
}

a.detail-link {
    color: #5c5c5d;
    text-decoration: none;

    &:hover {
        color: darken(#5c5c5d, 10%);
        text-decoration: none;
    }
}

@include media-breakpoint-down(sm) {
    iframe {
        width: auto;
    }
}

.content-desktop {
    > img {
        display: block;
        width: 100%;
    }

}

.pick-flavor {
    cursor: pointer;
    text-align: center;

    > img {
        width: 70%;
        height: 60%;
        text-align: center;
    }

    &-text {
        font-size: 30px;
        text-align: center;
        font-family: 'Georgia';
        font-weight: bold;
    }
}

.bg-gray {
    background-color: #EAEAEA;
}
.img-thumb {
    position: relative;
    overflow: hidden;
}

.img-thumb::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* [2] Transition property for smooth transformation of images */
.img-thumb img {
    transition: transform .6s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-thumb:hover img {
    transform: scale(1.2);
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-box {
    padding: 10px;
    background: white;
}

.description-text {
    font-size: 20px;
}

input.form-control, textarea.form-control {
    border-radius: 30px;
}

.search-box {

    width: 50%;
    margin: 0 auto;

}

@media screen and (max-width: 750px) {
    .search-box {
        width: 100%;
        margin-top: 30px;
    }
}

.carousel .carousel-item {
    height: 500px;
}

@media screen and (max-width: 750px) {
    .carousel .carousel-item {
        height: 300px;
    }
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.carousel-caption {
    text-align: right;
    background-color: hsla(0, 0%, 100%, .3);
    padding: 10px 20px;
    right: 0;
    bottom: 40px;
    left: auto;

    .detail-link {
        color: black;
        font-size: 30px;
    }
}

.carousel-caption {
    bottom: 340px;
}

@media screen and (max-width: 750px) {
    .carousel-caption {
        bottom: 140px;

        .detail-link {
            font-size: 20px;
        }
    }
}

.search-content {
    margin-top: 70px;
}

@media screen and (max-width: 750px) {
    .search-content {
        margin-top: 30px;
    }
}